<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css" >
    <link rel="stylesheet"  href=" https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <title>Restoran</title>
    <style>
        body{
      background-color: orange;

}
        h2{
        font-size: 10px;
        }

    </style>

</head>
<body>
{% for g in code_objects %}
<h2>{{ g.name}}</h2>
<h2>{{ g.description }}</h2>
<h2>{{ g.email}}</h2>


{% endfor %}
</body>
</html>